In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import string

In [2]:
url = "http://www.sports-reference.com/cbb/players/{}-index.html"

In [3]:
def scrape_data(url):
    html = urlopen(url)
    soup = BeautifulSoup(html, "lxml")
    players = soup.select("#content div p")
    data = [[player.find("a").attrs["href"], player.get_text()] 
            for player in players]
    df = pd.DataFrame(data, columns=["link", "text"])
    return df

In [4]:
abc = string.ascii_lowercase

In [5]:
dfs = [scrape_data(url.format(i)) for i in abc]

In [6]:
len(dfs)

26

In [7]:
df = pd.concat(dfs, ignore_index=True)

In [8]:
df.head()

,link,text
0,/cbb/players/menghe-anyam-1.html,Menghe a'Nyam (2007-2008) Canisius
1,/cbb/players/jordan-aaberg-1.html,Jordan Aaberg (2010-2014) North Dakota State
2,/cbb/players/karl-aaker-1.html,Karl Aaker (2002-2005) Portland
3,/cbb/players/steve-aaker-1.html,Steve Aaker (1971-1973) Colorado
4,/cbb/players/waine-aalto-1.html,Waine Aalto (1971-1971) Fresno State

In [9]:
df.tail()

,link,text
103503,/cbb/players/jack-zyla-1.html,Jack Zyla (1963-1965) New Hampshire
103504,/cbb/players/michal-zylinski-1.html,Michal Zylinski (2009-2009) Stony Brook
103505,/cbb/players/brock-zylstra-1.html,Brock Zylstra (2010-2013) Brigham Young
103506,/cbb/players/gene-zysda-1.html,Gene Zysda (1961-1961) Colorado
103507,/cbb/players/gene-zyzda-1.html,Gene Zyzda (1960-1962) Colorado

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103508 entries, 0 to 103507
Data columns (total 2 columns):
link    103508 non-null object
text    103508 non-null object
dtypes: object(2)
memory usage: 1.6+ MB

In [11]:
df[["Player", "Years", "College"]] = df.text.str.split("( \(.*\) )", expand=True)

In [12]:
df.head()

,link,text,Player,Years,College
0,/cbb/players/menghe-anyam-1.html,Menghe a'Nyam (2007-2008) Canisius,Menghe a'Nyam,(2007-2008),Canisius
1,/cbb/players/jordan-aaberg-1.html,Jordan Aaberg (2010-2014) North Dakota State,Jordan Aaberg,(2010-2014),North Dakota State
2,/cbb/players/karl-aaker-1.html,Karl Aaker (2002-2005) Portland,Karl Aaker,(2002-2005),Portland
3,/cbb/players/steve-aaker-1.html,Steve Aaker (1971-1973) Colorado,Steve Aaker,(1971-1973),Colorado
4,/cbb/players/waine-aalto-1.html,Waine Aalto (1971-1971) Fresno State,Waine Aalto,(1971-1971),Fresno State

In [13]:
df.Player.values[:10]

array(["Menghe a'Nyam", 'Jordan Aaberg', 'Karl Aaker', 'Steve Aaker',
       'Waine Aalto', 'Mike Aaman', 'Craig Aamot', 'Art Aaron',
       'Carlton Aaron', 'David Aaron'], dtype=object)

In [14]:
df.Years.values[:10]

array([' (2007-2008) ', ' (2010-2014) ', ' (2002-2005) ', ' (1971-1973) ',
       ' (1971-1971) ', ' (2013-2017) ', ' (1992-1993) ', ' (1981-1984) ',
       ' (2003-2005) ', ' (1986-1989) '], dtype=object)

In [16]:
df.College.values[:10]

array(['Canisius', 'North Dakota State', 'Portland', 'Colorado',
       'Fresno State', 'Rhode Island; Wagner', 'Marquette', 'Northwestern',
       'Missouri-Kansas City', 'Santa Clara'], dtype=object)

In [24]:
df[["link", "text"]].to_csv("raw_data/sref_cbb_player_info_07_06_17_raw.csv", index=False)

In [19]:
df.loc[:, "Years"] = df.Years.str.replace("(\(|\))", "").str.rstrip().str.lstrip()

In [20]:
df.head()

,link,text,Player,Years,College
0,/cbb/players/menghe-anyam-1.html,Menghe a'Nyam (2007-2008) Canisius,Menghe a'Nyam,2007-2008,Canisius
1,/cbb/players/jordan-aaberg-1.html,Jordan Aaberg (2010-2014) North Dakota State,Jordan Aaberg,2010-2014,North Dakota State
2,/cbb/players/karl-aaker-1.html,Karl Aaker (2002-2005) Portland,Karl Aaker,2002-2005,Portland
3,/cbb/players/steve-aaker-1.html,Steve Aaker (1971-1973) Colorado,Steve Aaker,1971-1973,Colorado
4,/cbb/players/waine-aalto-1.html,Waine Aalto (1971-1971) Fresno State,Waine Aalto,1971-1971,Fresno State

In [21]:
df["From"] = df.Years.str.split("-", expand=True)[0].astype(int)
df["To"] = df.Years.str.split("-", expand=True)[1].astype(int)

ValueError: invalid literal for int() with base 10: 'Gordo Castillo 2011'

In [22]:
df.Years.unique()

array(['2007-2008', '2010-2014', '2002-2005', '1971-1973', '1971-1971',
       '2013-2017', '1992-1993', '1981-1984', '2003-2005', '1986-1989',
       '2013-2014', '1994-1994', '1985-1985', '1990-1992', '2000-2000',
       '1987-1988', '2005-2008', '2015-2017', '2004-2007', '2014-2014',
       '1963-1963', '2007-2007', '2013-2013', '2014-2017', '1994-1995',
       '1955-1957', '1979-1982', '1962-1962', '1965-1965', '1995-1995',
       '1956-1958', '1958-1958', '2016-2016', '2006-2006', '1996-1998',
       '1961-1963', '2008-2011', '1987-1987', '1994-1997', '1987-1990',
       '1991-1992', '2012-2012', '1992-1992', '2006-2007', '2013-2015',
       '2014-2015', '2007-2010', '1967-1969', '1996-1999', '1997-1997',
       '1995-1996', '1989-1990', '1993-1993', '1993-1994', '2013-2016',
       '1998-2002', '2016-2017', '1995-1997', '2015-2016', '2002-2004',
       '2017-2017', '1996-1996', '1998-1998', '2010-2011', '1967-1967',
       '1959-1960', '1980-1980', '1978-1979', '1999-2001', '1995-1999',
       '1959-1959', '2011-2013', '1948-1948', '2012-2016', '2002-2003',
       '2010-2010', '1988-1990', '1972-1972', '2008-2008', '1973-1974',
       '1949-1949', '1960-1960', '1952-1954', '1962-1964', '1973-1976',
       '1988-1988', '2008-2010', '1988-1991', '1954-1956', '1952-1952',
       '1984-1984', '1974-1974', '1964-1966', '1979-1979', '1991-1994',
       '1990-1990', '1998-2001', '1949-1950', '1978-1978', '1977-1977',
       '2002-2002', '1998-2000', '1965-1967', '2009-2012', '2006-2009',
       '1975-1978', '1999-2000', '2011-2015', '1968-1970', '2006-2010',
       '2011-2011', '2003-2003', '1991-1991', '1973-1973', '1957-1960',
       '1988-1989', '1986-1986', '2000-2001', '2003-2007', '1985-1988',
       '1968-1968', '1969-1969', '1954-1954', '1962-1963', '1980-1982',
       '1981-1981', '1974-1977', '1958-1959', '1987-1991', '1971-1974',
       '1985-1986', '1982-1983', '2012-2017', '1977-1980', '1982-1982',
       '2008-2012', '1976-1976', '2011-2014', '1966-1966', '1964-1964',
       '2012-2015', '1975-1975', '2012-2013', '1952-1953', '2004-2008',
       '1988-1992', '1996-1997', '2012-2014', '1977-1978', '1997-1998',
       '1963-1965', '1989-1991', '1948-1949', '1983-1985', '2010-2013',
       '2001-2004', '1981-1985', '1982-1985', '1995-1998', '1999-1999',
       '1983-1983', '1957-1958', '2000-2002', '2005-2005', '1961-1962',
       '1973-1975', '1997-1999', '1974-1976', '1955-1955', '1953-1954',
       '1948-1950', '2009-2010', '1989-1992', '1997-2000', '1986-1987',
       '1960-1961', '1980-1983', '1955-1956', '1984-1987', '2000-2003',
       '2001-2001', '2004-2004', '1984-1985', '2003-2004', '1950-1952',
       '1979-1983', '2009-2009', '2003-2006', '1969-1970', '2015-2015',
       '1977-1979', '1982-1986', '1979-1980', '1976-1977', '1992-1995',
       '1966-1968', '1974-1975', '1998-1999', '1970-1970', '1970-1971',
       '1981-1983', '2005-2006', '1971-1972', '1970-1972', '1954-1955',
       '2008-2009', '1989-1989', '2005-2009', '1979-1981', '1983-1984',
       '1966-1967', '1990-1991', '1958-1960', '1999-2002', '1986-1988',
       '2007-2009', '1991-1993', '2001-2002', '1958-1962', '1983-1986',
       '2001-2003', '2009-2011', '2004-2005', '2002-2006', '1957-1957',
       '2011-2012', '1969-1971', '1976-1978', '1955-1958', '1968-1969',
       '1978-1981', '2006-2008', '1980-1981', '1950-1950', '2005-2007',
       '2000-2004', '1994-1998', '1993-1996', '2004-2006', '1982-1984',
       '1985-1987', '2007-2011', '2014-2016', '1960-1962', '1968-1971',
       '1992-1994', '1964-1965', '2009-2013', '1951-1951', '2001-2005',
       '1956-1956', '1961-1961', '1951-1955', '1987-1989', '1952-1955',
       '1956-1957', '1981-1982', '1959-1961', '1994-1996', '1963-1964',
       '1965-1966', '1957-1959', '1967-1968', '2010-2012', '1978-1982',
       '1951-1952', '1992-1996', '1996-2000', '1983-1987', '1975-1976',
       '1949-1951', '1951-1953', '1953-1955', '1975-1977', '1978-1980',
       '1950-1951', '1948-1951', '1976-1979', '1984-1988', '1953-1953',
       '1972-1973', '1993-1997', '1993-1995', '1970-1973', '1984-1986',
       '1972-1974', '1997-2001', '1991-1995', '1990-1993', '1958-1961',
       '1976-1980', '1997-2002', '1995-2001', '1962-1965', '1977-1981',
       '1999-2003', '1966-1969', '1963-1966', '1986-1990', '1950-1953',
       '1980-1984', '1985-1989', '1956-1959', '1954-1957', '2008-2013',
       '2010-2015', '2005-2010', '1964-1967', '2002-2007', '1975-1979',
       '1974-1978', '1953-1956', '1967-1970', '1954-1958', '2006-2011',
       '1973-1977', '2003-2008', '1965-1968', '1999-2004', '1972-1975',
       '2001-2006', '1961-1964', '1959-1962', '1949-1952', '1960-1963',
       '1943-1947', '1970-1974', '2011-2017', '2009-2014', '1969-1972',
       '1952-1956', '1953-1957', '1966-1970', '1959-1963',
       'Gordo Castillo 2011-2011', 'Red Coleman 1948-1950', '2011-2016',
       '1955-1959', 'Bernie Conrad 1968-1968', '1996-2001', '1960-1964',
       '1947-1950', '1951-1954', '2000-2005', '1957-1961', '1940-1942',
       '1962-1966', '1979-1984', '1994-1999', '1961-1965',
       'Bud Eley 1996-1998', '1992-1997', '1950-1954', '1994-2000',
       '1993-1998', '1991-1996', '1990-1994', '1998-2003', '1989-1993',
       '1998-2004', '1943-1948', '1992-1998', '1967-1971', '2004-2009',
       '1963-1967', '1941-1942', '2001-2007', '1995-2000', '1993-1999',
       '1948-1952', 'Knot Johnson 1972-1973', '1947-1948', '2000-2006',
       '1949-1953', 'Lip Latorre 1950-1950', '1946-1949', '1944-1949',
       '1956-1960', '1943-1946', 'Moon Mullins 1950-1952', '1999-2005',
       'Red Owens 1948-1949', '2007-2012', '1942-1942', '1945-1948',
       'Rube Schulz 1952-1955', '1984-1989', '1997-2003',
       'Cookie Stern 1982-1984', '1985-1990', '1946-1946'], dtype=object)

In [23]:
df.loc[df.Years=="Gordo Castillo 2011-2011", :]

,link,text,Player,Years,College
15188,/cbb/players/aaron-gordo-castillo-1.html,Aaron (Gordo) Castillo (2011-2011) New Mexico ...,Aaron,Gordo Castillo 2011-2011,New Mexico State