In [1]:
import pandas as pd

In [2]:
bref_df = pd.read_csv("processed_data/bref_player_info_and_id_06_06_17.csv")
cbb_df = pd.read_csv("processed_data/sref_cbb_ids_07_07_17.csv")

In [3]:
bref_df.head()

,Player,From,To,Pos,Ht,Wt,Birth_Date,College,Link,Bref_ID,HOF,Ht_Inches
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,1968-06-24,Duke University,/players/a/abdelal01.html,abdelal01,0,82.0
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,1946-04-07,Iowa State University,/players/a/abdulza01.html,abdulza01,0,81.0
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,1947-04-16,"University of California, Los Angeles",/players/a/abdulka01.html,abdulka01,1,86.0
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,1969-03-09,Louisiana State University,/players/a/abdulma02.html,abdulma02,0,73.0
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,1974-11-03,San Jose State University,/players/a/abdulta01.html,abdulta01,0,78.0

In [4]:
cbb_df.head()

     Bref_ID            Sref_Cbb_ID
0  abdelal01       alaa-abdelnaby-1
1  abdulza01                    NaN
2  abdulka01  kareem-abdul-jabbar-1
3  abdulma02   mahmoud-abdul-rauf-1
4  abdulta01                    NaN

In [5]:
merged_df = pd.merge(bref_df[["Player", "Bref_ID"]], cbb_df, how="left",
                     on="Bref_ID")

In [6]:
merged_df.head()

                Player    Bref_ID            Sref_Cbb_ID
0       Alaa Abdelnaby  abdelal01       alaa-abdelnaby-1
1      Zaid Abdul-Aziz  abdulza01                    NaN
2  Kareem Abdul-Jabbar  abdulka01  kareem-abdul-jabbar-1
3   Mahmoud Abdul-Rauf  abdulma02   mahmoud-abdul-rauf-1
4    Tariq Abdul-Wahad  abdulta01                    NaN

In [7]:
merged_df.to_csv("processed_data/player_names_bref_and_cbb_ids.csv", index=False)